{"FRE" {:h-name "Newcastle, Freeman Hospital"
        :h-lat 55.002386
        :h-lon -1.593643}
 "GRL" {:h-name "Leicester, Glenfield Hospital"
        :h-lat 52.654229
        :h-lon -1.179836}
 "RHS" {:h-name "Glasgow, Royal Hospital for Children"
        :h-lat 55.862745
        :h-lon -4.342357}
 "BRC" {:h-name "Bristol Royal Hospital for Children"
        :h-lat 51.457899
        :h-lon -2.597014}
 "SGH" {:h-name "Southampton, Wessex Cardiothoracic Centre"
        :h-lat 50.932846
        :h-lon -1.432731}
 "OLS" {:h-name "Dublin, Our Lady's Children's Hospital"
        :h-lat 53.326005
        :h-lon -6.317399}
 "ACH" {:h-name "Liverpool, Alder Hey Hospital"
        :h-lat 53.419566
        :h-lon -2.900560}
 "LGI" {:h-name "Leeds General Infirmary"
        :h-lat 53.802109
        :h-lon -1.550870}
 "NHB" {:h-name "London, Royal Brompton Hospital"
        :h-lat 51.489012
        :h-lon -0.170759}
 "GUY" {:h-name "London, Evelina London Children's Hospital"
        :h-lat 51.498044
        :h-lon -0.118835}
 "BCH" {:h-name "Birmingham Children’s Hospital"
        :h-lat 52.484946
        :h-lon -1.894566}
 "GOS" {:h-name "London, Great Ormond Street Hospital for Children"
        :h-lat 51.522549
        :h-lon -0.120923}
 "HSC" {:h-name "London, Harley Street Clinic"
        :h-lat 51.520348
        :h-lon -0.147726}
 "RVB" {:h-name "Belfast, Royal Victoria Hospital"
        :h-lat 54.594167
        :h-lon -5.953666}}